
 $padding:20px;
 $margin:20px;


 $success: #1c9721;
 $lsuccess: #1e5220;
 $error: #970e05;
 $lerror: #b41408;
 $info: #05355c;
 $linfo: #05365e;
 $warning: #ca590d;
 $black: #000;
 $white: #fff;
 $bg: #333;
 $notification: #f44336;
 $cream: #f7f7f7;
 $shadow: rgba(0, 0, 0, 0.1);
 $load: rgba(128, 128, 128, 0.541);
 $border: #e0e0e0;
 