@use "./constants";
* {
  font-family: "Roboto", sans-serif;
}

.grid-system{
  display: grid;
  padding: 10px 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding-bottom: 10vh;
  @media (max-width: 600px) {
    // Mobile breakpoint
    grid-template-columns: 1fr;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    // Tablet breakpoint
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1025px) {
    // Desktop breakpoint
    grid-template-columns: repeat(4, 1fr);
  }
}

button {
  background-color: constants.$black;
  color: constants.$white;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: constants.$bg;
  }

  &.btn-add {
    width: 100%;
    padding: 20px;
  }

  &.success {
    background-color: constants.$success;
    &:hover {
      background-color: constants.$lsuccess;
    }
  }

  &.danger {
    background-color: constants.$error;
    &:hover {
      background-color: constants.$lerror;
    }
  }

  &.info {
    background-color: constants.$linfo;
    &:hover {
      background-color: constants.$linfo;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: constants.$shadow;

  .n-pages {
    @media (max-width: 800px) {
      width: 25px;
    }
  }
  button {
    margin: 0;

    &.active {
      background-color: white;
      color: black;
    }
  }
}
.product-description {
  min-height: 200px;
  color:gray
}
.cartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .danger {
    margin: 0px;
    width: 100%;
    @media (max-width:1000px) {
      width: 50%;
    }
  }

  .cartItems_details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

// toaster style

.toaster {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px constants.$shadow;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(100px);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.success {
    background-color: constants.$success;
    color: constants.$white;
  }

  &.error {
    background-color: constants.$error;
    color: constants.$white;
  }

  &.info {
    background-color: constants.$info;
    color: constants.$white;
  }

  &.warning {
    background-color: constants.$warning;
    color: constants.$black;
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  // Tablet and below
  .toaster {
    bottom: 15px;
    right: 15px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  // Mobile
  .toaster {
    bottom: 10px;
    right: 5px;
    padding: 6px 12px;
    width: calc(
      100% - 40px
    ); // Make it full width with a little margin on both sides
  }
}

//end of toaster style
